:root {
	--dark-clr: #333;
	--dark-one: #666;
	--dark-green: rgb(12, 84, 12);
	--main-clr: #e2c62f;
	--light-one: #fff;
	--light-two: #c4c4c4;
	--light-three: #f0e8b8;
	--light-four: #efefef;
	--cl-white: #fff;
	--cl-black: #000;
	--cl-grayCC: #ccc;
	--max-width: none;
  }
