@use '../abstracts/' as *;



.numbers__item-content {
	display:relative;
	display:flex;
	flex-direction: column;
	gap:1em;
	justify-content:center;
	align-items:center;
	height:10em;
	width:9em;
}

.numbers__item-number {
	color:var(--main-clr);
	font-weight: 600;
	font-size:2rem;
	height:15%;
}

.numbers__item-info {
	text-align: center;
	font-weight: 400;
	font-family:'Lato';
	font-size:1em;
	line-height:2em;
	font-style:normal;
	height:30%;
}

.numbers__item-icon {
	height:30%;
	width:30%;
}

